<STYLE TEXT="text/css">
<!--
BODY {background: #FFFFFF; font-family: sans-serif}
A:link {color: #000000}
A:visited {color: #000000}
A {font-size: 12pt; font-family: sans-serif}
H1 {font-size: 24pt; font-family: sans-serif; margin-left: 20px}
H2 {font-size: 14pt; font-family: sans-serif; margin-left: 20px}
H3 {font-size: 14pt; font-family: sans-serif; margin-left: 20px}
P {font-size: 14pt; font-family: sans-serif; line-height: 25px;
   margin-left: 40px; margin-right: 250px; margin-top: 10px}
UL > LI {font-family: sans-serif; line-height: 25px}
OL > LI {font-family: sans-serif; line-height: 25px}

img {
  width: 200px,
  height: auto
}

#menu { 
    width: auto;
    height: 40px;
    font-size: 16px;
    font-family: times;
    text-align: left;
    background-color: #922247;
}
#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
#menu li {
display: inline;
padding: 20px;
}
#menu a {
    text-decoration: none;
    color: #FEBD18;
    padding: 8px 8px 8px 8px;
}
-->

</STYLE>
